extends ../layouts/default
mixin post(data)
	#wrap(style="min-width:700px",title="GameID:#{data.gameid}")
		.containerY(style="min-width:700px;height:400px",id="containerY#{data.gameid}")
		hr
		.containerL(style="min-width:700px;height:400px",id="containerL#{data.gameid}")

block head
	link(rel="stylesheet", type="text/css", href="easyui/themes/default/easyui.css")
	link(rel="stylesheet", type="text/css", href="easyui/themes/icon.css")
block content
	.container: .jumbotron
		form(method='post')
			input(type='hidden', name='action', value='server_status')
			label 开始时间 
			input.easyui-datetimebox(name="op",value=formatData["op"])
			label 结束时间
			input.easyui-datetimebox(name="ed",value=formatData["ed"])
			label 显示数量
			input.easyui-numberbox(name="num",vlaue=formatData["num"])
			input(type="submit",value="检索")
		//- img(src='/images/logo.svg', width='160')
		//- p This is your new <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a> website.
		//- p It includes the latest versions of
		//- 	| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
		//- 	| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		//- p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		//- hr
		//- if user && user.canAccessKeystone
		//- 	p
		//- 		a(href='/keystone/signin').btn.btn-lg.btn-primary Open the Admin UI
		//- else
		//- 	p We have created a default Admin user for you with the email <strong>user@keystonejs.com</strong> and the password <strong>admin</strong>.
		//- 	p
		//- 		a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
		//- 		|  to use the Admin UI.
		//- hr
		//- p Remember to <a href='https://github.com/JedWatson/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
		//- 	| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.


		each data in datas
			+post(data)
			//- .jumbotron(title="gameID:#{data.gameid}")
			//- 	#container(style="min-width:700px;height:400px",title="硬件监控")
			//- 	#containner2(style="min-width:700px;height:400px",title="流量监控")
block js
		script(type="text/javascript", src="/js/highcharts.js")
		script(type="text/javascript", src="/js/exporting.js")
		script(type="text/javascript", src="/js/jeasyui.js")

		script(type='text/javascript').
			var datas = !{JSON.stringify(datas)};
			//- // table
			$(function () {
				for(var i=0;i<datas.length;i++){
					var data = datas[i];
					var gameid = data.gameid;
					var xAxis = data.xAxis.reverse();
					//长度过长则只显示收尾
					//- if(xAxis.length>=20)
					//- {
					//- 	for(var i=0;i<xAxis.length;i++){
					//- 		if(i==0||i==(xAxis.length-1)){
					//- 			continue;
					//- 		}else{
					//- 			xAxis[i] = "";
					//- 		}

					//- 	}
					//- }
					var upspeed = data.upspeed.reverse();
					var downspeed = data.downspeed.reverse();
					var disk_idle = data.disk_idle.reverse();
					var cpu_idle = data.cpu_idle.reverse();
					var mem_idle = data.mem_idle.reverse();
					$('#containerY'+gameid).highcharts({
			        title: {
			            text:'硬件监控',
			            x: -20 //center
			        },
			        subtitle: {
			            text: '空闲率',
			            x: -20
			        },
			        xAxis: {
			            categories: xAxis
			        },
			        yAxis: {
			            title: {
			                text: '单位（%）空闲'
			            },
			            plotLines: [{
			                value: 0,
			                width: 1,
			                color: '#808080'
			            }]
			        },
			        tooltip: {
			            valueSuffix: '%'
			        },
			        legend: {
			            layout: 'vertical',
			            align: 'right',
			            verticalAlign: 'middle',
			            borderWidth: 0
			        },
			        series: [{
			            name: 'CPU',
			            data:cpu_idle },
			            {
			            name: '硬盘',
			            data:disk_idle
			            },{
			            name: '内存',
			            data:mem_idle
			            }]
			    	});
					$("#containerL"+gameid).highcharts({
			        title: {
			            text:'流量监控',
			            x: -20 //center
			        },
			        subtitle: {
			            text: '当日',
			            x: -20
			        },
			        xAxis: {
			            categories: xAxis
			        },
			        yAxis: {
			            title: {
			                text: '单位（KB/s）'
			            },
			            plotLines: [{
			                value: 0,
			                width: 1,
			                color: '#808080'
			            }]
			        },
			        tooltip: {
			            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
			            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
			                '<td style="padding:0"><b>{point.y} 个</b></td></tr>',
			            footerFormat: '</table>',
			            shared: true,
			            useHTML: true
			        },		
			        legend: {
			            layout: 'vertical',
			            align: 'right',
			            verticalAlign: 'middle',
			            borderWidth: 0
			        },
			        series: [{
			            name: '上传速度',
			            data:upspeed },
			            {
			            name: '下载速度',
			            data:downspeed
			            }]
			    	}
					);
				}
			    //tab
				$(".jumbotron").tabs({
				border:false,
				onSelect:function(title){
				//alert(title+'is selected');
				}
				});
			});

				