select(id="country",name="country",style="width:150px",class="easyui-combobox")
	option(value="",selected=filters["country"] == "") ALL
	option(value="Not_CN",selected=filters["country"] == "Not_CN") 国外
	option(value="CN",selected=filters["country"] == "CN") 中国
	option(value="US",selected=filters["country"] == "US") 美国
	option(value="AU",selected=filters["country"] == "AU") 澳大利亚
	option(value="NL",selected=filters["country"] == "NL") 荷兰
	option(value="GB",selected=filters["country"] == "GB") 英国
	option(value="BR",selected=filters["country"] == "BR") 巴西 
	option(value="AR",selected=filters["country"] == "AR") 阿根廷 
	option(value="AO",selected=filters["country"] == "AO") 安哥拉 
	option(value="AF",selected=filters["country"] == "AF") 阿富汗 
	option(value="AL",selected=filters["country"] == "AL") 阿尔巴尼亚 
	option(value="DZ",selected=filters["country"] == "DZ") 阿尔及利亚 
	option(value="AD",selected=filters["country"] == "AD") 安道尔共和国 
	option(value="AI",selected=filters["country"] == "AI") 安圭拉岛 
	option(value="AG",selected=filters["country"] == "AG") 安提瓜和巴布达 
	option(value="AM",selected=filters["country"] == "AM") 亚美尼亚 
	option(value="AT",selected=filters["country"] == "AT") 奥地利 
	option(value="AZ",selected=filters["country"] == "AZ") 阿塞拜疆 
	option(value="BS",selected=filters["country"] == "BS") 巴哈马 
	option(value="BH",selected=filters["country"] == "BH") 巴林 
	option(value="BD",selected=filters["country"] == "BD") 孟加拉国 
	option(value="BB",selected=filters["country"] == "BB") 巴巴多斯 
	option(value="BY",selected=filters["country"] == "BY") 白俄罗斯 
	option(value="BE",selected=filters["country"] == "BE") 比利时 
	option(value="BZ",selected=filters["country"] == "BZ") 伯利兹 
	option(value="BJ",selected=filters["country"] == "BJ") 贝宁 
	option(value="BM",selected=filters["country"] == "BM") 百慕大群岛 
	option(value="BO",selected=filters["country"] == "BO") 玻利维亚 
	option(value="BW",selected=filters["country"] == "BW") 博茨瓦纳 
	option(value="BN",selected=filters["country"] == "BN") 文莱 
	option(value="BG",selected=filters["country"] == "BG") 保加利亚 
	option(value="BF",selected=filters["country"] == "BF") 布基纳法索 
	option(value="MM",selected=filters["country"] == "MM") 缅甸 
	option(value="BI",selected=filters["country"] == "BI") 布隆迪 
	option(value="CM",selected=filters["country"] == "CM") 喀麦隆 
	option(value="CA",selected=filters["country"] == "CA") 加拿大 
	option(value="CF",selected=filters["country"] == "CF") 中非共和国 
	option(value="TD",selected=filters["country"] == "TD") 乍得 
	option(value="CL",selected=filters["country"] == "CL") 智利 
	option(value="CO",selected=filters["country"] == "CO") 哥伦比亚 
	option(value="CG",selected=filters["country"] == "CG") 刚果 
	option(value="CK",selected=filters["country"] == "CK") 库克群岛 
	option(value="CR",selected=filters["country"] == "CR") 哥斯达黎加 
	option(value="CU",selected=filters["country"] == "CU") 古巴 
	option(value="CY",selected=filters["country"] == "CY") 塞浦路斯 
	option(value="CZ",selected=filters["country"] == "CZ") 捷克 
	option(value="DK",selected=filters["country"] == "DK") 丹麦 
	option(value="DJ",selected=filters["country"] == "DJ") 吉布提 
	option(value="DO",selected=filters["country"] == "DO") 多米尼加共和国 
	option(value="EC",selected=filters["country"] == "EC") 厄瓜多尔 
	option(value="EG",selected=filters["country"] == "EG") 埃及 
	option(value="SV",selected=filters["country"] == "SV") 萨尔瓦多 
	option(value="EE",selected=filters["country"] == "EE") 爱沙尼亚 
	option(value="ET",selected=filters["country"] == "ET") 埃塞俄比亚 
	option(value="FJ",selected=filters["country"] == "FJ") 斐济 
	option(value="FI",selected=filters["country"] == "FI") 芬兰 
	option(value="FR",selected=filters["country"] == "FR") 法国 
	option(value="GF",selected=filters["country"] == "GF") 法属圭亚那 
	option(value="GA",selected=filters["country"] == "GA") 加蓬 
	option(value="GM",selected=filters["country"] == "GM") 冈比亚 
	option(value="GE",selected=filters["country"] == "GE") 格鲁吉亚 
	option(value="DE",selected=filters["country"] == "DE") 德国 
	option(value="GH",selected=filters["country"] == "GH") 加纳 
	option(value="GI",selected=filters["country"] == "GI") 直布罗陀 
	option(value="GR",selected=filters["country"] == "GR") 希腊 
	option(value="GD",selected=filters["country"] == "GD") 格林纳达 
	option(value="GU",selected=filters["country"] == "GU") 关岛 
	option(value="GT",selected=filters["country"] == "GT") 危地马拉 
	option(value="GN",selected=filters["country"] == "GN") 几内亚 
	option(value="GY",selected=filters["country"] == "GY") 圭亚那 
	option(value="HT",selected=filters["country"] == "HT") 海地 
	option(value="HN",selected=filters["country"] == "HN") 洪都拉斯 
	option(value="HK",selected=filters["country"] == "HK") 香港 
	option(value="HU",selected=filters["country"] == "HU") 匈牙利 
	option(value="IS",selected=filters["country"] == "IS") 冰岛 
	option(value="IN",selected=filters["country"] == "IN") 印度 
	option(value="ID",selected=filters["country"] == "ID") 印度尼西亚 
	option(value="IR",selected=filters["country"] == "IR") 伊朗 
	option(value="IQ",selected=filters["country"] == "IQ") 伊拉克 
	option(value="IE",selected=filters["country"] == "IE") 爱尔兰 
	option(value="IL",selected=filters["country"] == "IL") 以色列 
	option(value="IT",selected=filters["country"] == "IT") 意大利 
	option(value="JM",selected=filters["country"] == "JM") 牙买加 
	option(value="JP",selected=filters["country"] == "JP") 日本 
	option(value="JO",selected=filters["country"] == "JO") 约旦 
	option(value="KH",selected=filters["country"] == "KH") 柬埔寨 
	option(value="KZ",selected=filters["country"] == "KZ") 哈萨克斯坦 
	option(value="KE",selected=filters["country"] == "KE") 肯尼亚 
	option(value="KR",selected=filters["country"] == "KR") 韩国 
	option(value="KW",selected=filters["country"] == "KW") 科威特 
	option(value="KG",selected=filters["country"] == "KG") 吉尔吉斯坦 
	option(value="LA",selected=filters["country"] == "LA") 老挝 
	option(value="LV",selected=filters["country"] == "LV") 拉脱维亚 
	option(value="LB",selected=filters["country"] == "LB") 黎巴嫩 
	option(value="LS",selected=filters["country"] == "LS") 莱索托 
	option(value="LR",selected=filters["country"] == "LR") 利比里亚 
	option(value="LY",selected=filters["country"] == "LY") 利比亚 
	option(value="LI",selected=filters["country"] == "LI") 列支敦士登 
	option(value="LT",selected=filters["country"] == "LT") 立陶宛 
	option(value="LU",selected=filters["country"] == "LU") 卢森堡 
	option(value="MO",selected=filters["country"] == "MO") 澳门 
	option(value="MG",selected=filters["country"] == "MG") 马达加斯加 
	option(value="MW",selected=filters["country"] == "MW") 马拉维 
	option(value="MY",selected=filters["country"] == "MY") 马来西亚 
	option(value="MV",selected=filters["country"] == "MV") 马尔代夫 
	option(value="ML",selected=filters["country"] == "ML") 马里 
	option(value="MT",selected=filters["country"] == "MT") 马耳他 
	option(value="MU",selected=filters["country"] == "MU") 毛里求斯 
	option(value="MX",selected=filters["country"] == "MX") 墨西哥 
	option(value="MD",selected=filters["country"] == "MD") 摩尔多瓦 
	option(value="MC",selected=filters["country"] == "MC") 摩纳哥 
	option(value="MN",selected=filters["country"] == "MN") 蒙古 
	option(value="MS",selected=filters["country"] == "MS") 蒙特塞拉特岛 
	option(value="MA",selected=filters["country"] == "MA") 摩洛哥 
	option(value="MZ",selected=filters["country"] == "MZ") 莫桑比克 
	option(value="NA",selected=filters["country"] == "NA") 纳米比亚 
	option(value="NR",selected=filters["country"] == "NR") 瑙鲁 
	option(value="NP",selected=filters["country"] == "NP") 尼泊尔 
	option(value="NZ",selected=filters["country"] == "NZ") 新西兰 
	option(value="NI",selected=filters["country"] == "NI") 尼加拉瓜 
	option(value="NE",selected=filters["country"] == "NE") 尼日尔 
	option(value="NG",selected=filters["country"] == "NG") 尼日利亚 
	option(value="KP",selected=filters["country"] == "KP") 朝鲜 
	option(value="NO",selected=filters["country"] == "NO") 挪威 
	option(value="OM",selected=filters["country"] == "OM") 阿曼 
	option(value="PK",selected=filters["country"] == "PK") 巴基斯坦 
	option(value="PA",selected=filters["country"] == "PA") 巴拿马 
	option(value="PG",selected=filters["country"] == "PG") 巴布亚新几内亚 
	option(value="PY",selected=filters["country"] == "PY") 巴拉圭 
	option(value="PE",selected=filters["country"] == "PE") 秘鲁 
	option(value="PH",selected=filters["country"] == "PH") 菲律宾 
	option(value="PL",selected=filters["country"] == "PL") 波兰 
	option(value="PF",selected=filters["country"] == "PF") 法属玻利尼西亚 
	option(value="PT",selected=filters["country"] == "PT") 葡萄牙 
	option(value="PR",selected=filters["country"] == "PR") 波多黎各 
	option(value="QA",selected=filters["country"] == "QA") 卡塔尔 
	option(value="RO",selected=filters["country"] == "RO") 罗马尼亚 
	option(value="RU",selected=filters["country"] == "RU") 俄罗斯 
	option(value="LC",selected=filters["country"] == "LC") 圣卢西亚 
	option(value="VC",selected=filters["country"] == "VC") 圣文森特岛 
	option(value="SM",selected=filters["country"] == "SM") 圣马力诺 
	option(value="ST",selected=filters["country"] == "ST") 圣多美和普林西比 
	option(value="SA",selected=filters["country"] == "SA") 沙特阿拉伯 
	option(value="SN",selected=filters["country"] == "SN") 塞内加尔 
	option(value="SC",selected=filters["country"] == "SC") 塞舌尔 
	option(value="SL",selected=filters["country"] == "SL") 塞拉利昂 
	option(value="SG",selected=filters["country"] == "SG") 新加坡 
	option(value="SK",selected=filters["country"] == "SK") 斯洛伐克 
	option(value="SI",selected=filters["country"] == "SI") 斯洛文尼亚 
	option(value="SB",selected=filters["country"] == "SB") 所罗门群岛 
	option(value="SO",selected=filters["country"] == "SO") 索马里 
	option(value="ZA",selected=filters["country"] == "ZA") 南非 
	option(value="ES",selected=filters["country"] == "ES") 西班牙 
	option(value="LK",selected=filters["country"] == "LK") 斯里兰卡 
	option(value="LC",selected=filters["country"] == "LC") 圣卢西亚 
	option(value="VC",selected=filters["country"] == "VC") 圣文森特 
	option(value="SD",selected=filters["country"] == "SD") 苏丹 
	option(value="SR",selected=filters["country"] == "SR") 苏里南 
	option(value="SZ",selected=filters["country"] == "SZ") 斯威士兰 
	option(value="SE",selected=filters["country"] == "SE") 瑞典 
	option(value="CH",selected=filters["country"] == "CH") 瑞士 
	option(value="SY",selected=filters["country"] == "SY") 叙利亚 
	option(value="TW",selected=filters["country"] == "TW") 台湾省 
	option(value="TJ",selected=filters["country"] == "TJ") 塔吉克斯坦 
	option(value="TZ",selected=filters["country"] == "TZ") 坦桑尼亚 
	option(value="TH",selected=filters["country"] == "TH") 泰国 
	option(value="TG",selected=filters["country"] == "TG") 多哥 
	option(value="TO",selected=filters["country"] == "TO") 汤加 
	option(value="TT",selected=filters["country"] == "TT") 特立尼达和多巴哥 
	option(value="TN",selected=filters["country"] == "TN") 突尼斯 
	option(value="TR",selected=filters["country"] == "TR") 土耳其 
	option(value="TM",selected=filters["country"] == "TM") 土库曼斯坦 
	option(value="UG",selected=filters["country"] == "UG") 乌干达 
	option(value="UA",selected=filters["country"] == "UA") 乌克兰 
	option(value="AE",selected=filters["country"] == "AE") 阿拉伯联合酋长国 
	option(value="UY",selected=filters["country"] == "UY") 乌拉圭 
	option(value="UZ",selected=filters["country"] == "UZ") 乌兹别克斯坦 
	option(value="VE",selected=filters["country"] == "VE") 委内瑞拉 
	option(value="VN",selected=filters["country"] == "VN") 越南 
	option(value="YE",selected=filters["country"] == "YE") 也门 
	option(value="YU",selected=filters["country"] == "YU") 南斯拉夫 
	option(value="ZW",selected=filters["country"] == "ZW") 津巴布韦 
	option(value="ZR",selected=filters["country"] == "ZR") 扎伊尔 
	option(value="ZM",selected=filters["country"] == "ZM") 赞比亚