select(id="rate",name="rate",style="width:150px")
	option(value="retention",selected=filters["rate"] == "retention") 留存率
	option(value="levelrate",selected=filters["rate"] == "levelrate") 等级流失率
	option(value="questrate",selected=filters["rate"] == "questrate") 关卡流失率
	option(value="tutorialrate",selected=filters["rate"] == "tutorialrate") 教学流失率
	option(value="homingrate",selected=filters["rate"] == "homingrate") 回归率